img {
    width: 300px;
    height: auto;
}

main {
    width: 650px;
    height: 100%;
    margin: 15px auto;
    
}

.navbar-brand {
    font-family: 'Lemon', cursive;
    font-size: 2em;
}

h5, p {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-size: 1.25em;
}